<!DOCTYPE html>
<html lang="en">

<head>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <meta charset="UTF-8">
    <title>빌링키 발급</title>
</head>

<body>
    <label>
        유저 아이디
        <input type="text" id="user_id">
    </label>
    <br>
    <button type="button" onclick="get_user_data()">빌링키 발급받기</button>
</body>
<script src="billing_key.js"></script>

</html>