<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <meta charset="UTF-8">
    <title>충전 완료</title>
</head>
<body>
    <div>
        <p>충전 완료</p>
        <label>
            유저 아이디
            <input type="text" id="user_id">
        </label>
        <button onclick="requestPay()">정산 하기</button>
    </div>

    <script src="settlement.js"></script>
</body>
</html>